package-lock.json
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/production

# ignore non js || css || md
*.html
*.py
*.json
LICENSE
*.yml
public/images
/public/images
.github/

# ignore other configs
*.config.js
.gitignore
*.editorconfig
*.prettierignore

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*