/* 
DIV place above the synthesizer to prevent clicking out while 
various background processes are running.
*/
.SynthesizerHeaderOverlay {
  position: absolute;
  background-color: var(--app-background-color);
  width: 100%;
  height: var(--app-header-height);
}

.Synthesizer {
  display: grid;
  position: absolute;
  background-color: var(--app-background-color);
  top: var(--app-header-height);
  height: calc(100% - var(--app-header-height));
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  grid-template-rows: var(--app-header-height) auto;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'synthesizerHeaderSection   synthesizerHeaderSection   '
    'synthesizerLeftBodySection synthesizerRightBodySection';
}

.SynthesizerHeaderSection {
  grid-area: synthesizerHeaderSection;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SynthesizerLeftBodySection {
  box-sizing: border-box;
  grid-area: synthesizerLeftBodySection;
  padding-bottom: 10px;
}

.SynthesizerRightBodySection {
  box-sizing: border-box;
  grid-area: synthesizerRightBodySection;
  padding-bottom: 10px;
}

.SynthesizerFullBodySection {
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.SynthesizerHeaderTitle {
  color: #fff;
  font-size: 1em;
  user-select: none;
  margin: auto 10px;
}

.SampleUploadOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.SampleUploadText {
  font-size: 1.2em;
  color: #fff;
  margin: 0px;
}
