.GridActivator {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridActivatorImage {
  cursor: pointer;
}

.SampleGridItem {
  background-color: #134074;
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SampleGridItemTitle {
  color: #fff;
  margin: 0px;
  padding: 0px;
  height: auto;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.GridMatrix {
  position: relative;
}

.GridTimelineTrack {
  z-index: 2147483647;
  position: relative;
}

.GridTimelineTrackLine {
  stroke: rgb(144, 119, 237);
  stroke-width: 1.2;
}
