.GridActivator {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.GridActivatorImage {
  cursor: pointer;
}

.SampleGridItem {
  background-color: #134074;
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SampleGridItemTitle {
  color: #fff;
  margin: 0px;
  padding: 0px;
  height: auto;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.GridMatrix {
  position: relative;
}

/* Style for timeline tracker */
.GridTimelineTrack {
  z-index: 2147483647;
  position: relative;
}

.GridTimelineTrackLine {
  stroke: rgb(144, 119, 237);
  stroke-width: 1.2;
}

/* Style for time ruler */
.GridTimeRuler {
  position: relative;
  display: flex;
  flex-direction: row;
}

.GridTimeItemContainer {
  position: relative;
  box-sizing: border-box;
}

.GridTimeItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.GridTimeText {
  color: #fff;
  margin: 0px;
}

.GridTimePointer {
  width: 1px;
  height: 8px;
  background-color: #fff;
}
