:root {
  --workstation-button-space: 80px;
  --workstation-menu-height: 38px;
  --section-combined-width: 450px;
  --header-combined-height: 98px;
}

.WorkstationPanel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}

.WorkstationPanelMenu {
  box-sizing: border-box;
  padding-bottom: 10px;
  width: 100%;
  height: var(--workstation-menu-height);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto var(--workstation-button-space) 5px var(--workstation-button-space);
  grid-template-areas: 'leftSpot middleSpot . rightSpot';
}

.WorkstationPanelMenuTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 1.1em;
  user-select: none;
  margin: 3.391px 10px;
}

.WorkstationPanelMenuButton {
  height: 28px;
  width: 100%;
  font-size: 1em;
}

.WorkstationPanelNoImageMenuButton {
  display: none;
}

.LeftSpot {
  grid-area: leftSpot;
  align-self: center;
}

.MiddleSpot {
  grid-area: middleSpot;
}

.RightSpot {
  grid-area: rightSpot;
}

.CenterSelf {
  justify-self: center;
  align-self: center;
  user-select: none;
}

.GridContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.GridComponentsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.GridActivators {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40px;
}

.GridMatrixContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}
