:root {
  --player-theme-color: rgb(208, 53, 30, 1);
}

.AudioPlayerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.AudioPlayerImageContainer {
  min-width: 130px;
  min-height: 130px;
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(208, 53, 30) 1px;
  border-radius: 65px;
  margin-bottom: 5px;
}

.AudioPlayerImage {
  min-width: 110px;
  min-height: 110px;
  height: 110px;
  width: 110px;
  border-radius: 55px;
}

@keyframes glow {
  to {
    border-color: rgb(208, 53, 30);
    box-shadow: 0 0 10px #eef5e5;
  }
}

.GlowingBorder {
  border: 1px solid transparent;
  border-color: rgb(208, 53, 30, 0.3);
  animation: glow 1s infinite alternate;
  transition: border 1s linear, box-shadow 1s linear;
}

.rhap_container {
  background-color: rgb(0, 0, 0, 0) !important;
  box-shadow: none !important;
}

.rhap_volume-indicator,
.rhap_progress-indicator {
  background-color: var(--player-theme-color) !important;
}

.rhap_time,
.rhap_header,
.rhap_button-clear {
  color: var(--player-theme-color) !important;
}

.rhap_header {
  text-align: center;
}
