:root {
  --studio-section-width: 225px;
  --studio-button-large-dimension: 32px;
  --studio-button-small-dimension: 22px;
  --studio-section-header-height: 42px;
  --studio-workstation-button-section-height: 55px;
}

.StudioPanel {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: var(--studio-section-width) var(--studio-section-width) auto;
  grid-template-areas: 'leftColumn middleColumn rightColumn';
  overflow: hidden;
}

.LeftColumn {
  grid-area: leftColumn;
}

.MiddleColumn {
  grid-area: middleColumn;
}

.RightColumn {
  grid-area: rightColumn;
}

.HideFullCover {
  display: none;
}

.SampleDownloader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SampleDownloadedTitle {
  color: #fff;
  margin: 10px;
  background-color: rgb(38, 37, 46);
  border: solid 2.4px rgb(64, 60, 70);
  padding: 15px;
  border-radius: 10px;
  font-size: 1.2em;
}

.SaveBeatPromptBackground {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SaveBeatPrompt {
  display: flex;
  width: 350px;
  flex-direction: column;
  justify-content: left;
}

.SaveBeatPromptButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.PromptButton {
  width: 45%;
  cursor: pointer;
}

.PromptButton:hover {
  background-color: rgba(81, 81, 81, 0.771);
}

.SaveBeatPromptText {
  align-self: center;
  color: #fff;
}

.fileContainer.chooseFileButton {
  border-radius: 4px;
}

.ItemContextPrompt {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContextButton {
  width: 80%;
}
