input:focus {
  outline:none;
}

.Home-Background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
}

.New-Session-Preview {
  height: 100%;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.Old-Session-Preview {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
}

.Start-Recording-Button {
  padding: 4px 32px;
  background-color: #f7f7f7;
  border: solid #000 1.2px;
  border-radius: 34px;
  font-size: 26px;
  cursor: pointer;
}

.Start-Recording-Button:hover {
  background-color: #f0ddc1;
}