
:root {
  --studio-section-width: 200px;
  --studio-button-medium-dimension: 28px;
  --studio-button-small-dimension: 22px;
}

.StudioBackground {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.StudioSectionBackground {
  color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  user-select: none;

  box-sizing: border-box;
  width: var(--studio-section-width);
  padding: 5px;
}

.StudioSectionHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 2px 0px;
}

.StudioButton {
  padding: 4px;
  cursor: pointer;
}

.StudioButtonMedium {
  width: var(--studio-button-medium-dimension);
  height: var(--studio-button-medium-dimension);
  min-width: var(--studio-button-medium-dimension);
  min-height: var(--studio-button-medium-dimension);
}

.StudioButtonSmall {
  width: var(--studio-button-small-dimension);
  height: var(--studio-button-small-dimension);
  min-width: var(--studio-button-small-dimension);
  min-height: var(--studio-button-small-dimension);
}

.StudioSectionOptionBackground {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 37, 46);
  border: solid 2.4px rgb(46, 43, 50);
  box-shadow: 0.8px 0.8px 2px rgb(70, 66, 77);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2px;
  margin: 3px;
  margin-top: 8px;
  cursor: pointer;
}

.StudioSectionOptionBackground:active {
  box-shadow: 0px 0px 2px rgb(70, 66, 77);
  transform: translateY(0.8px) translateX(0.8px);
}