.appHeaderOverlaySection {
  position: absolute;
  width: 100%;
  height: var(--app-header-height);
}

.SampleSynthesizer {
  display: grid;
  position: absolute;
  -webkit-animation: fadeInFromNone 0.24s ease-out;
  -moz-animation: fadeInFromNone 0.24s ease-out;
  -o-animation: fadeInFromNone 0.24s ease-out;
  animation: fadeInFromNone 0.24s ease-out;
  background-color: var(--app-background-color);
  top: var(--app-header-height);
  height: calc(100% - var(--app-header-height));
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  grid-template-rows: var(--app-header-height) auto;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'synthesizerHeaderSection   synthesizerHeaderSection   '
    'synthesizerLeftBodySection synthesizerRightBodySection';
}

.SynthesizerHeaderSection {
  grid-area: synthesizerHeaderSection;
  display: flex;
  align-items: center;
}

.SynthesizerLeftBodySection {
  box-sizing: border-box;
  grid-area: synthesizerLeftBodySection;
  padding-bottom: 10px;
}

.SynthesizerRightBodySection {
  box-sizing: border-box;
  grid-area: synthesizerRightBodySection;
  padding-bottom: 10px;
}

.FlexWithCenteredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SynthesizerFullBodySection {
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.HideSection {
  display: none;
}

.SynthesizerHeaderTitle {
  color: #fff;
  font-size: 1em;
  user-select: none;
  margin: auto 10px;
}

.SynthModelsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.SynthModelCard {
  background-color: rgb(10, 48, 89);
  box-sizing: border-box;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* Tooltip text */
.Tooltip .TooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Tooltip:hover .TooltipText {
  visibility: visible;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: grid;
    opacity: 0;
  }
  100% {
    display: grid;
    opacity: 1;
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: grid;
    opacity: 0;
  }
  100% {
    display: grid;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: grid;
    opacity: 0;
  }
  100% {
    display: grid;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: grid;
    opacity: 0;
  }
  100% {
    display: grid;
    opacity: 1;
  }
}
