name: desktop-build-master

on:
  push:
    branches:
    - master

jobs:
  build_on_mac:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@master
      with:
        ref: master
    - uses: actions/setup-node@master
      with:
        node-version: 10.16
    - name: Build the app
      run: |
        npm install -g yarn
        npm install
        npm run build

  build_on_windows:
    runs-on: window-latest
    steps:
    - uses: actions/checkout@master
      with:
        ref: master
    - uses: actions/setup-node@master
      with:
        node-version: 10.16
    - name: Build the app
      run: |
        npm install -g yarn
        npm install
        npm run build

  build_on_ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        ref: master
    - uses: actions/setup-node@master
      with:
        node-version: 10.16
    - name: Build the app
      run: |
        npm install -g yarn
        npm install
        npm run build
