name: python-build-master

on:
  push:
    branches:
    - master

jobs:
  build_on_mac:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: master
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
        architecture: 'x64' 
    - run: pip3 install -r requirements.txt
    - run: python3 server/app.py
    - run: flake8 server/


  build_on_win:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: master
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
        architecture: 'x64' 
    - run: pip install -r requirements.txt
    - run: python server/app.py
    - run: flake8 server/
